BasedOnStyle: Google
IndentWidth: 8
TabWidth: 8
UseTab: Never
ColumnLimit: 70

AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false

IndentPPDirectives: AfterHash

